.App {
  text-align: center;
}

.Title {
  background-color: #ffffff85;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(15px + 1vmin);
  color: rgb(0, 0, 0);
}

.Listing {
  background-color: #ff0000;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: rgb(255, 255, 255);
}

.ItemList {
  background-color: #eeeded;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: rgb(150, 150, 150);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.ItemImage {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.ItemImage img {
  width: 40%;
  height: 40%;
}

.ItemName {
  font-size: calc(30px + 1vmin);
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.ItemInfo {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
